<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
      @layer utilities {
        .hidden-on-mobile {
          display: none;
        }
        @media (min-width: 1024px) {
          .hidden-on-mobile {
            display: block;
          }
        }
      }
    </style>
    <link rel="stylesheet" href="../styles/main.css">

    <title>Sign-Up Page</title>
  </head>
  <body>
    <div class="min-h-screen flex justify-center items-center bg-color  flex flex-wrap gap-4 p-10">
      <div class="flex flex-col items-center gap-10">
        <img src="../Assets/images/logo.png" class="img-width" alt="logo">
        <img src="../Assets/images/banner.jpg" class="img-width   rounded-xl" alt="banner">
      </div>

      <div class="hidden-on-mobile h-3/4 w-px bg-light-bg"></div>
                      <!-- FORM  -->
      <div class="flex flex-col text-white my-4"> 
        <div class="flex items-center flex-col gap-2  lg:ml-32">
          <h2 class="font-medium">Sign Up</h2>
          <i class="fa-solid fa-user  text-4xl"></i>
          <h3 class="font-awesome">Upload</h3>
        </div>
        <div class="flex flex-col items-center my-4 text-sm sm:text-base">
          <form action="" method="post" class="flex flex-col gap-2 sm:gap-3 ">
            <div class="email flex gap-2">
              <label for="email" class="w-36 sm:w-40 text-right">Email: </label>
              <input type="email" class="text-black p-1 sm:p-2 text-xs w-52 sm:w-64 " placeholder="Provide Your Organistation Email" >
            </div>
            <div class="password flex gap-2">
              <label for="password" class="w-36 sm:w-40 text-right">Password: </label>
              <div class="relative w-52 sm:w-64">
              <input type="password" class="text-black p-1 sm:p-2 text-xs w-52 sm:w-64  "  placeholder="Minimum 8 character">
              <i class="fa-solid fa-eye absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
            </div>
          </div>
            <div class="rePassword flex gap-2">
              <label for="password" class="w-36 sm:w-40 text-right">Repeat Password: </label>
              <div class="relative w-52 sm:w-64">
              <input type="password" class="text-black p-1 sm:p-2 text-xs w-52 sm:w-64  "  placeholder="Must Match the password above">
              <i class="fa-solid fa-eye absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
            </div>
            </div>
            <div class="fName flex gap-2">
              <label for="name" class="w-36 sm:w-40 text-right">Full Name: </label>
              <input type="name" class="text-black p-1 sm:p-2 text-xs w-52 sm:w-64  "  placeholder="Write full name as per NIC">
            </div>
            <div class="eType flex gap-2">
              <label for="eType" class="w-36 sm:w-40 text-right">Employment Type: </label>
              <select name="employment-type" id="employment-type" class="text-black  p-1 sm:p-2 text-xs w-52 sm:w-64   ">
                <option class="text-xs">Select from drop-down</option>
                <option value="manager" >Manager</option>
                <option value="worker">Worker</option>
                <option value="technician">Technician</option>
                <option value="builder">Builder</option>
                <option value="other">other</option>
              </select>
            </div>
            <div class="eNum flex gap-2">
              <label for="eNum" class="w-36 sm:w-40 text-right">Employment Number: </label>
              <input type="number" class="text-black p-1 sm:p-2 text-xs w-52 sm:w-64 "  placeholder="Provide Your employe ID">
            </div>
            <div class="department flex gap-2">
              <label for="department" class="w-36 sm:w-40 text-right">Department: </label>
              <select name="employment-type" id="employment-type" class="text-black p-1 sm:p-2 text-xs w-52 sm:w-64   ">
                <option class="text-xs">Select from drop-down</option>
                <option value="manager">Manager</option>
                <option value="worker">Worker</option>
                <option value="technician">Technician</option>
                <option value="builder">Builder</option>
                <option value="other">other</option>
              </select>
            </div>
            <div class="department flex gap-2">
              <label for="department" class="w-36 sm:w-40 text-right">Designation: </label>
              <input type="d" class="text-black p-1 sm:p-2 text-xs w-52 sm:w-64  "  placeholder="Enter your Designation here">
            </div>
            <div class="contact flex gap-2">
              <label for="contact" class="w-36 sm:w-40 text-right">Contact Number: </label>
              <input type="number" class="text-black p-1 sm:p-2 text-xs w-52 sm:w-64  "  placeholder="Enter contact number with country code">
            </div>

            <div class="flex mt-2 flex-col items-center gap-2  lg:ml-40">
              <p class="text-xs font-light ">By creating account, You agree to term & conditions</p>
              <button type="submit" class="p-1 w-52 sm:w-64 rounded-full btn-bg text-white shadow-md font-medium text-base sm:text-lg font-medium">Create Account</button>
              <a href="./sign-in.html" class="underline">Sign In</a>
            </div>
          
        </form>
        </div>
        
      </div> 

    </div>
  </body>
</html>
